<div class="wrapper">
  <div class="logo"> <img src="https://png.pngtree.com/element_origin_min_pic/00/00/06/12575cb97a22f0f.jpg" alt="">
  </div>
  <div class="text-center mt-4 name"> Login </div>
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span>
      <input type="text"
        name="userName"
        id="userName"
        placeholder="Email"
        [(ngModel)] ="email"

        > </div>
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span>
       <input type="password"
        name="password"
         id="pwd"
         placeholder="Password"
         [(ngModel)] ="password"
         ></div> <button class="btn mt-3"  (click)="login()">Login</button>
  </form>
</div>
